/* Tooltip container */
.jb-tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.jb-tooltip .jb-tooltiptext-arriba {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.jb-tooltip .jb-tooltiptext-arriba::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.jb-tooltip:hover .jb-tooltiptext-arriba {
    visibility: visible;
}

/* Tooltip text */
.jb-tooltip .jb-tooltiptext-abajo {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;

    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.jb-tooltip .jb-tooltiptext-abajo::after {
    content: "";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.jb-tooltip:hover .jb-tooltiptext-abajo {
    visibility: visible;
}


.jb-btn-azul {
  border-color: #28a4c9;
  color: white;
  background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
  background-color: #5bc0de;

}

.jb-btn-azul:hover {
  background-color: #d07836;
  background-image: linear-gradient(to bottom,#FF9241 0,#d07836 100%);
}

.jb-btn-rojo {
  border-color: #28a4c9;
  color: white;
  background-image: linear-gradient(to bottom,#FF8166 0,#FF5733 100%);
  background-color: #FF8166;

}

.jb-btn-rojo:hover {
  background-color: #d07836;
  background-image: linear-gradient(to bottom,#FF9241 0,#d07836 100%);
}

.jb-yama-form {
  border:2px solid #8890ab; min-width:60%; border-radius: 8px;
}
